*{
  margin:0;
  padding: 0;
}
#one{
  display:flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: darkgray;
  width: 100%;
  height: 40px;
  box-shadow: 0 -4px rosybrown ;
}
#two{
  flex: 1;
  text-align: center;
  font-size: 10px;
}
#two img{
  width: 24px;
  height: 24px;
}